<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pessoa.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pessoa.age %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
