<p id="notice"><%= notice %></p>

<dl class="dl-horizontl">

  <dt><strong>Name:</strong></dt>
  <dd><%= @pessoa.name %></dd>


  <dt><strong>Age:</strong></dt>
  <dd><%= @pessoa.age %></dd>

</dl>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
