<p id="notice"><%= notice %></p>

<dl class="dl-horizontl">

  <dt><strong>Name:</strong></dt>
  <dd><%= @book.name %></dd>


  <dt><strong>Author:</strong></dt>
  <dd><%= @book.author %></dd>

</dl>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
